<div class="authentication">
  <table>
    <%- @users.each do |u| -%>
      <tr>
        <td><%= u.email %></td>
        <td><%= u.created_at %></td>
        <td><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></td>
      </tr>
    <%- end -%>
</table>
</div>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#appId=150231875070757&xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-add-to-timeline" data-show-faces="true"></div>